<div class="how-it-works__container">
    <h1 class="how-it-works__container-title">Como Nossa Aplicação Funciona?</h1>

    <p class="how-it-works__container-paragraph">Descomplicamos seu acesso aos melhores recursos de estudo! Utilize nossos serviços com facilidade todos os nossos serviços com apenas o Link de uma video aula no YouTube.</p>

    <ul class="how-it-works__container-list">
        <li class="how-it-works__container-list-item">
            
            <img class="how-it-works__container-list-item-svg" src="../../../../../assets/images/copy_4929547.png" alt="">
            <h3>
                Etapa 1
            </h3>
            <p class="how-it-works__container-list-item-paragraph">
                Copie a URL do link da video aula no Youtube
            </p>
        </li>
        <li class="how-it-works__container-list-item">
            
            <img class="how-it-works__container-list-item-svg" src="../../../../../assets/images/paste_12518411.png" alt="">
            <h3>
                Etapa 2
            </h3>
            <p class="how-it-works__container-list-item-paragraph">
                Cole a URL do link na nossa plataforma
            </p>
        </li>
        <li class="how-it-works__container-list-item">
            <img class="how-it-works__container-list-item-svg" src="../../../../../assets/images/file_5253790.png" alt="">
            <h3>
                Etapa 3
            </h3>
            <p class="how-it-works__container-list-item-paragraph">
                Selecione o Serviço desejado e veja a Mágia acontecer
            </p>
        </li>
    </ul>
</div>